:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green:#ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark:#232830;
    --sm:0.9rem;
    --md:1rem;
    --lg:1.13rem;
    

}
body{font-family: 'Quicksand', sans-serif;
    margin: 0;}

.my-order{
    width: 100%;
    padding: 0;
    display: grid;
    place-items: center;
}
.title{
    font-size: var(--lg);
    margin-bottom:2.5rem;
}

.title-container{
    display: flex;
    justify-content: space-around;
}

.title-container img{
    transform: rotate(180deg);
    
}
.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 19rem;
}
.my-order-content{
    display: flex;
    flex-direction: column;
}

.order{
    background-color: var(--very-light-pink);
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    margin-bottom: 1.8rem;
    border-radius: 0.5rem;
    padding: 0 1.8rem;
}
.order p:nth-child(1){
    display: flex;
    flex-direction: column;

}

.shopping-cart figure img{
    width: 4.4 rem;
    height: 4.4rem;
    border-radius:
     1.2rem;
     object-fit: cover;
}

.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 1rem;
    margin-bottom: 1.5rem;
    align-items: center;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
        font-weight: bold;
}

.shopping-cart figure{
    margin: 0;
    
}
.primary-button{
    background-color: var(--hospital-green);
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 3.12rem;
   
}


@media (max-width: 640px){
    .my-order-container{
        width: 100%;
      
    }
    .product-detail-img :nth-child(2){
        width: 100%;
        height: 360px;
        object-fit:cover;
        margin: 1rem;;
        border-radius: 0 0 3rem 2rem;
    }
}