:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green:#ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --dark:#232830;
    --sm:0.9rem;
    --md:1rem;
    --lg:1.13rem;
    

}
body{font-family: 'Quicksand', sans-serif;
    margin: 0;}

.login{width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 50vh;
}    

.logo{width: 9.3rem;
margin-bottom:3rem;
justify-self: center;
display: none;}

.title{font-size: var(--lg); 
        margin-bottom: 0.8rem;
        text-align: center;
    }
.subtitle{color: var(--very-light-pink);
        font-size: var(--md);
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 2rem;
        text-align: center;}
.form{
    display: flex;
    flex-direction: column;

}
.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 0.25rem;
}

.input{background-color: var(--text-input-field);
        border: none;
    border-radius: 0.5rem;
    height: 1.8rem;
    font-size: var(--md);
    padding: 0.375;
    margin-bottom: 0.8rem;}

.primary-button{
    background-color: var(--hospital-green);
    border-radius: 0.5rem;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 3.12rem;
}

.login-button{
    margin-top: 0.85rem;
    margin-bottom: 0.8rem;
}
@media(max-width:640px){
    .logo{display: block;}
}

.email-image{width: 8.25rem;
    height: 8.25rem;
    border-radius: 50%;
    background-color:var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.email-image img{
    width: 80px;
}

.resend{
    font-size: var(--sm);
}

.resend span{
    color: var(--very-light-pink);
}

.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}

.form-container-email{
        display: grid;
        grid-template-rows: auto 1fr auto;
        width: 300px;
        justify-items: center;
}